<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>200218989998-9dcupnkclvm3cd4rd93cv6iiqt6t0m1n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.200218989998-9dcupnkclvm3cd4rd93cv6iiqt6t0m1n</string>
	<key>API_KEY</key>
	<string>AIzaSyChYl2PbtwwItUTgyJ-wtTX7pOTBt_Agdg</string>
	<key>GCM_SENDER_ID</key>
	<string>200218989998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notificationPp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>notivication-app</string>
	<key>STORAGE_BUCKET</key>
	<string>notivication-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200218989998:ios:3ff41e3ff0a6997411e43f</string>
</dict>
</plist>